body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: black;
  margin: 0;
}

.wrapper {
  max-width: 1150px;
  margin: 0 auto;
}

header {
  margin-top: 27px;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.header__logo {
  padding-top: 5px;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  width: 502px;
  list-style: none;
  margin-left: 80px;
}

.navigation__item {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.navigation__item-main {
  font-size: 15px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  text-decoration: none;
  color: #fff;
  background-color: black;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
}

.login__btn {
  width: 96px;
  color: black;
  background-color: #fff;
  border-radius: 25px;
  border: ridge black;
}

.accounting .wrapper {
  display: flex;
  justify-content: space-between;
}

.accounting__welcom {
  width: 483px;
  margin-top: 50px;
}

.accounting__welcom .btn {
  width: 160px;
  height: 60px;
  font-size: 22px;
}

.accounting__title {
  font-size: 77px;
  font-weight: 700;
  margin: 0;
}

.accounting__description {
  font-size: 20px;
  font-weight: 400;
  padding-top: 5px;
  line-height: 30px;
}

.accounting__entice {
  font-size: 18px;
  font-weight: 700;
  padding-top: 60px;
  padding-bottom: 10px;
}

.entrepreneurs .wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 175px;
}

.entrepreneurs__img {
  width: 483px;
  height: 280px;
  padding-top: 35px;
}

.entrepreneurs__welcom {
  width: 560px;
}

.entrepreurers__title {
  font-size: 57px;
  font-weight: 700;
  margin: 0;
  line-height: 60px;
}

.entrepreurers__description {
  font-size: 20px;
  font-weight: 400;
  padding-top: 15px;
  line-height: 29px;
  width: 500px;
}